# Core app
streamlit

# Data handling
pandas
numpy

# Visualization
plotly

# Google Sheets + OAuth
gspread
oauth2client

# Email validation
email-validator

# Environment variables
python-dotenv
